.carta{
    width: 100px;
    height: 19%;
    background-color: rgb(90, 64, 35);
    border-radius: 10px;
    margin: 5px;
}

#deck{

}

#game{
    /* padding: 10px; */
}

.sideBySide{
    display: inline-flex;
}

.floatRight{
    float: right;
}

.floatLeft{
    float: left;
}

.col-half{
    width: 50%;
}

.pr-0{
    padding-right: 0;
}

.p-0{
    padding: 0;
}

.pl-0{
    padding-left: 0;
}

.mr-0{
    margin-right: 0;
}

.m-0{
    margin: 0;
}

.ml-0{
    margin-left: 0;
}
